<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- SEO optimization -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Stay up-to-date with the latest news without the noise. EchoSlash brings you an automated news curator."
    />

    <meta
      name="keywords"
      content="news, world news, latest news, news aggregator, ai, ai news"
    />

    <!-- Open Graph Tags (social media) -->
    <meta
      property="og:title"
      content="EchoSlash - Automated News Without Noise!"
    />
    <meta
      property="og:description"
      content="AI delivered news content straight to the point."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://echoslash.com/" />
    <meta property="og:image" content="https://echoslash.com/logo.png" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="EchoSlash - Automated News Without Noise!"
    />
    <meta
      name="twitter:description"
      content="AI delivered news content straight to the point."
    />
    <meta name="twitter:image" content="https://echoslash.com/logo.png" />

    <!-- Canonical Link -->
    <link rel="canonical" href="https://echoslash.com/" />

    <title>EchoSlash - Automated News Without Noise!</title>
    <script src="https://unpkg.com/htmx.org"></script>

    <!-- Favicon for the website -->
    <link rel="icon" type="image/x-icon" href="logo.ico" />

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- MaterialUI icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- Custom stylesheets -->
    <link rel="stylesheet" href="styles.css" />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <h2>
      Stay up-to-date without the noise
      <img
        width="40rem"
        ratio="1:1"
        src="logo.png"
        alt="EchoSlash Logo"
        class="logo-image"
      />
    </h2>
    <% if (user) { %>
      <p class="flow-text">
        <%= user.displayName %>, if you are like me and want to stay up-to-date with 
        the latest news without the noise, you can use this form to pick a news topic 
        and receive an email with a narrated concise summary. I don't care much about 
        turning a profit with this project, it's all open source here:
        <a href="https://github.com/tomaAlex/EchoSlash">/tomaAlex/EchoSlash</a>
      </p>

      <form
        hx-post="/submit"
        hx-target="#result"
        hx-swap="outerHTML"
        hx-indicator="#loading"
      >
        <div class="input-field">
          <select name="topic">
            <option value="" disabled selected>Choose your option</option>
            <option value="technology">Technology</option>
            <option value="business">Business</option>
            <option value="science">Science</option>
            <option value="health">Health</option>
            <option value="sports">Sports</option>
            <option value="entertainment">Entertainment</option>
            <option value="general">General</option>
            <option value="AI">AI</option>
          </select>
          <label>News Topics</label>
        </div>
        <button
          class="btn waves-effect waves-light submit-button"
          type="submit"
          name="action"
        >
          Submit
          <i class="material-icons right">send</i>
        </button>
      </form>

      <p class="flow-text">
        This is a trial to figure out if people like it and want me to continue
        developing it or want to help me develop it. If you have any feedback,
        please send it to me at
        <a href="mailto:<%= nodemailerUser %>"><%= nodemailerUser %></a>. For now,
        you can get only one email, cheers 🍻
      </p>

      <a href="/logout" class="btn waves-effect waves-light red logout-button">
          <i class="material-icons left">power_settings_new</i>
          Logout
      </a>
    <% } else { %>
      <p class="flow-text">
        As much as I would love to let you remain anonymous, I need to know who 
        you are. There are bad people out there, you know? 😩
      </p>

      <p class="flow-text">
        All I really need is your email address, I promise I won't spam you. You
        will receive only one email with the news summary you requested. Hope you
        enjoy the news while cleaning those dishes 🧼
      </p>

      <a href="/auth/google" class="btn waves-effect waves-light red login-button">
        <i class="material-icons left">login</i>Login with Google
      </a>
    <% } %>
    <div id="loading" style="display: none">Loading...</div>
    <div id="result"></div>

    <script>
      document
        .querySelector("form")
        .addEventListener("htmx:beforeRequest", () => {
          document.getElementById("loading").style.display = "block";
        });
      document
        .querySelector("form")
        .addEventListener("htmx:afterRequest", () => {
          document.getElementById("loading").style.display = "none";
        });
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll("select");
        var instances = M.FormSelect.init(elems);
      });
    </script>
  </body>
</html>
