body {
  padding: 5rem;
}

/* Smaller padding on smaller screens */
@media (max-width: 600px) {
  body {
    padding: 10px;
  }
}

.submit-button {
  width: 50%;
  margin: 0 auto;
  display: block;
  max-width: 10rem;
}

.logout-button {
	width: 50%;
	display: block;
	max-width: 10rem;
	margin-left: auto; /* Only push the left margin, leaving the right at default */
	margin-right: 0;   /* Aligns the button to the right */
}
